@import "tailwindcss";

input:not([type="file"]),
textarea {
  padding-left: 1rem;
  background-color: #fafafa;
  border: 1px solid #a9a9a9;
  border-radius: 0.2rem;
}

@font-face {
  font-family: "mona-sans-bold";
  src: url("/fonts/mona-sans-bold.ttf") format("truetype");
}

@font-face {
  font-family: "mona-sans-semibold";
  src: url("/fonts/mona-sans-semibold.ttf") format("truetype");
}

@font-face {
  font-family: "geist";
  src: url("/fonts/geist.ttf") format("truetype");
}

@theme {
  --font-mona-bold: "mona-sans-bold", sans-serif;
  --font-mona-semibold: "mona-sans-semibold", sans-serif;
  --font-geist: "geist", sans-serif;
}

h1 {
  @apply font-mona-bold;
}

h2 {
  @apply font-mona-semibold;
}

p,
a {
  @apply font-geist;
}

@layer utilities {
  .bg-dotted-stripes {
    background-image: repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05) 0px,
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px,
      transparent 160px
    );
    border-style: dashed;
  }
}
